{% extends "base.html" %}

{% block title %}Deletar Tweet{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Confirmação de Deleção</div>
                <div class="card-body">
                    <p>Tem certeza de que deseja deletar este Tweet?</p>
                    <p>{{ post.post_text }}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Deletar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
